<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<title></title>
	<style >
		nav .badge{
			position: relative;
			top: 20px;
			right:px;		;
		}
		  .topnav {
  overflow: hidden;
  background-color: #117A65 ;
  height: 100px;
}
#nav-mobile a {

  position: relative;
  margin-top: 15px;
  margin-right: 40px;
  display: inline-block;
  color: white;
  text-transform: u;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 15px;
  border:5px solid transparent;
  padding: 6px 9px;
  border-radius: 6px;

}
#nav-mobile a:before{
  position:absolute;
  content:'';
  left:0;
  bottom:0;
  height: 2px;
  width: 100%;
  background:white;
  transform:scaleX(0);
  transform-origin: right;
  transition: transform .4s linear; 

}

#nav-mobile a:hover:before {
transform:scaleX(1.0);
transform-origin: right;
}

	</style>
</head>
<body>
  
   <nav class="topnav">
   	<div class="container">
   		<a href="/blogs" class="brand-logo">BlogSphere</a>
   		<a  href ="#" class="sidenav-trigger" data-target="mobile-links">
   			<i class="material-icons">menu</i>
   		</a>
   			<ul id='nav-mobile' class="right hide-on-med-and-down">
   		<li><a href='/blogs'>Blogs</a></li>
   		<!-- <li><a href='/about'>About</a></li> -->
   		<li><a href="/blogs/create">Add blog</a></li>
   		
   	</ul>	
   	</div>
   </nav>
   <ul class="sidenav" id=mobile-links>
   	<li><li><a href='/blogs'>Blogs</a></li>
       <!-- <li><a href='/blogs/about'>About</a></li> -->
       <li><a href="/blogs/create">Add blog</a></li>
   </ul>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	 <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script >
    	$(document).ready(function(){
    		$('.sidenav').sidenav();//method by materialize

    	})
    </script>