<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav') %>

  <div class="content">
    <h2>About Us</h2>
    <p>Welcome to BlogSphere! This is a simple blogging platform where you can share your thoughts and read blogs from others.</p>
  </div>

  <%- include('./partials/footer') %>
</body>
</html>
